h1, h2, h3, h4 {
  font-family: sans-serif;
  font-weight: bold;
  display: block;
}

h1 {
  font-size: 300%;
  text-align: center;
}
h2 {
  font-size: 250%;
  text-align: center;
  margin: 10px;
}

h3 {
  font-size: 200%;
  text-align: center;
  margin: 0 auto;
}
h4 {
  font-size: 150%;
  text-align: center;
  margin-top: 10px;
}

div#input-form {
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-size: 100%;
  margin-top: 50px;
  /* width: 100%; */
  margin-right: auto;
  margin-left: auto;
}
div#input-form p {
  margin: 10px;
  padding: 0;
  font-size: 20px;
}

div#input-form input, select {
  font-size: 20px;
}
div#product-pics {
  display: block;
  width: 1000px;
  margin: 0 auto;
  overflow: auto;
}

figure {
  display: block;
  float: left;
  width: 300px;
  height: 400px;
  border: 10px solid #777;
  margin: 10px 5px;
  position: relative;
}

figure:hover {
  border: 10px solid #222;
}
figure:active {
  border: 10px solid red;
}

figcaption {
  text-align: center;
  font-family: sans-serif;
  font-size: 120%;
  position: absolute;
  top: 370px;
  width: 100%;
}

figure img {
  width: 100%;
}

table {
  table-layout: auto;
  width: 75%;
  border-collapse: collapse;
  margin: 25px auto;
}
tr {
  line-height: 150%;
}
tr:nth-of-type(odd) {
  background-color: #bbb;
}
th {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #333;
}
th:first-of-type {
  text-align: left;
}
td {
  font-family: sans-serif;
  text-align: center;
}
td:first-of-type {
  text-align: left;
}